* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

body, html {
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin: 0 !important;
  padding: 0 !important;
}

a, a:visited {
  text-decoration: none;
}

/* a:hover, a:active {
    color: #FFBB00 !important;
    text-decoration: none;
} */
p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid #333333;
}

.border-bottom {
  border-bottom: 1px solid #333333;
}

.containerown {
  max-width: 1200px;
  margin: auto;
}

.gap {
  gap: 2rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.align-center {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #ffffff;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-center {
  text-align: center;
}

.whitespace {
  height: 100vh;
}

.btn-orange {
  color: #fff;
  background: #f23779;
  background: linear-gradient(138deg, #f23779 0%, #fc8b53 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-orange:hover {
  color: #fff;
  background: #f23779;
  background: linear-gradient(138deg, #f23779 0%, #fc8b53 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-orange:focus, .btn-orange.focus {
  color: #fff;
  background: #cf2f67;
  background: linear-gradient(138deg, #cf2e67 0%, #fc8b53 100%);
  border: 1px solid transparent;
  font-weight: 600;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
  color: #fff;
  background: #cf2f67;
  background: linear-gradient(138deg, #cf2e67 0%, #fc8b53 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-green {
  color: #fff;
  background: #24bfb6;
  background: linear-gradient(126deg, #24bfb6 0%, #41e595 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-green:hover {
  color: #fff;
  background: #24bfb6;
  background: linear-gradient(126deg, #24bfb6 0%, #41e595 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-green:focus, .btn-green.focus {
  color: #fff;
  background: #1b9690;
  background: linear-gradient(126deg, #1d9b95 0%, #41e595 100%);
  border: 1px solid transparent;
  font-weight: 600;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background: #1b9690;
  background: linear-gradient(126deg, #1d9b95 0%, #41e595 100%);
  border: 1px solid transparent;
  font-weight: 600;
}

header {
  height: 100vh;
  background-image: url(../images/bg/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar {
  border-bottom: 1px solid #57647c34 !important;
}

header .navbar .text-loggo {
  font-size: 1.8rem;
  font-weight: 600;
}

header .navbar .nav-link {
  font-weight: 600;
  color: #333333 !important;
}

header .navbar button {
  border: 1px solid #FF6803 !important;
  background-color: transparent;
  font-weight: 600;
  border-radius: 0.4rem;
}

header .navbar .navbar-nav i {
  font-size: 1.5rem;
}

header #header-main {
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #header-main .header-text {
  text-align: center;
}

header #header-main .header-laptop img {
  height: 16rem;
}

@media (min-width: 768px) {
  header {
    height: 100vh;
    background-image: url(../images/bg/bg-desktop.png);
  }
  header #header-main .header-text h1 {
    font-size: 4rem;
  }
  header #header-main .header-text p {
    font-size: 1.4rem;
  }
  header #header-main .header-text button {
    padding: 1rem 3rem;
  }
  header #header-main .header-laptop img {
    height: 30rem;
  }
}

@media (min-width: 1200px) {
  header {
    height: 100vh;
    background-image: url(../images/bg/bg-desktop.png);
  }
  header #header-main {
    height: 90vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #header-main .header-text {
    text-align: left;
    max-width: 30rem;
  }
  header #header-main .header-text h1 {
    font-size: 3.4rem;
    font-weight: 600;
  }
  header #header-main .header-text p {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  header #header-main .header-laptop {
    position: absolute;
    right: 12rem;
    bottom: 7rem;
  }
  header #header-main .header-laptop img {
    height: 36rem;
  }
}

#fyraloggor {
  height: 8rem;
}

#fyraloggor .fyraloggor {
  height: inherit;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: lightgray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fyraloggor .fyraloggor img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 1rem;
}

@media (min-width: 768px) {
  #fyraloggor .fyraloggor img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    height: 2rem;
  }
}

@media (min-width: 1200px) {
  #fyraloggor .fyraloggor img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    height: 3rem;
  }
}

#effective-tools {
  height: 160vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#effective-tools .effective-tools-text {
  max-width: 30rem;
  text-align: center;
}

#effective-tools #effective-tools h2 {
  font-size: 2rem;
  font-weight: 600;
  max-width: 25rem;
}

#effective-tools .effective-tools-text p {
  color: #57647C;
}

#effective-tools .effective-tools-text button {
  padding: 0.6rem 1.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: 1px solid transparent;
}

#effective-tools .grid {
  max-width: 40rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

#effective-tools .grid .box {
  height: 12rem;
  width: 15rem;
}

#effective-tools .grid h5 {
  font-size: 1.7rem;
  font-weight: 600;
}

#effective-tools .grid p {
  color: #57647C;
}

@media (min-width: 768px) {
  #effective-tools {
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #effective-tools .effective-tools-text {
    max-width: 30rem;
    text-align: center;
  }
  #effective-tools h2 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  #effective-tools .effective-tools-text button {
    padding: 1rem 8rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 1px solid transparent;
  }
  #effective-tools .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #effective-tools {
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #effective-tools .effective-tools-text {
    max-width: 30rem;
    text-align: left;
  }
  #effective-tools .effective-tools-text h2 {
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 25rem;
  }
  #effective-tools .effective-tools-text p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #effective-tools .effective-tools-text button {
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 1px solid transparent;
  }
  #effective-tools .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

#process-flow {
  height: 100vh;
  background-image: url(../images/bg/bg-second.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#process-flow #process-flow-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#process-flow #process-flow-content img {
  height: 42rem;
  margin-left: -20rem;
  display: none;
}

#process-flow #process-flow-text {
  height: 45rem;
}

#process-flow #process-flow-text h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  max-width: 24rem;
}

#process-flow #process-flow-holder {
  width: 19rem;
}

#process-flow .process-flow-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22rem;
}

#process-flow .process-flow-card h3 {
  font-size: 3.75rem;
  color: #F23779;
  font-weight: 700;
}

#process-flow .process-flow-box {
  width: 15rem;
  height: 120px;
}

#process-flow .process-flow-box h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

#process-flow .process-flow-box p {
  color: #57647C;
}

@media (min-width: 768px) {
  #process-flow {
    height: 90vh;
    background-image: url(../images/bg/bg-second.png);
    background-repeat: no-repeat;
    background-position: left center;
  }
  #process-flow #process-flow-content {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #process-flow #process-flow-content img {
    height: 32rem;
    display: block;
  }
}

@media (min-width: 1200px) {
  #process-flow {
    background-image: url(../images/bg/bg-second.png);
  }
  #process-flow #process-flow-content img {
    height: 42rem;
    margin-left: -20rem;
  }
}

#online-software {
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#online-software #online-software-content {
  height: 52vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bg/dottet-map.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

#online-software #online-software-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#online-software #online-software-content p {
  text-align: center;
}

#online-software #online-software-content #online-software-cards {
  height: 12rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#online-software #online-software-content #online-software-cards div {
  text-align: center;
}

#online-software #online-software-content #online-software-cards h4 {
  font-size: 1.6rem;
  color: #F23779;
  font-weight: bold;
  line-height: 0.8;
}

#online-software #online-software-content #online-software-cards-box {
  height: 7rem;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

#online-software #online-software-content #online-software-cards-box-text {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 11rem;
}

#online-software #online-software-content #online-software-cards-box-text h4 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
}

#online-software #online-software-content #online-software-cards-box-text p {
  font-size: 0.8rem;
  margin: 0;
}

#online-software #online-software-content #online-software-cards-box button {
  padding: 0.4rem 1.7rem;
  border-radius: 0.6rem;
  border: 1px solid transparent;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  #online-software {
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #online-software #online-software-content {
    height: 52vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #online-software #online-software-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  #online-software #online-software-content p {
    font-size: 1.2rem;
    text-align: center;
  }
  #online-software #online-software-content #online-software-cards {
    height: 12rem;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #online-software #online-software-content #online-software-cards div {
    text-align: center;
  }
  #online-software #online-software-content #online-software-cards h4 {
    font-size: 2.2rem;
    color: #F23779;
    font-weight: bold;
    line-height: 0.8;
  }
  #online-software #online-software-content #online-software-cards p {
    color: #57647C;
  }
  #online-software #online-software-content #online-software-cards-box {
    height: 7rem;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.7rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
  }
  #online-software #online-software-content #online-software-cards-box-text {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-width: 20rem;
  }
  #online-software #online-software-content #online-software-cards-box-text h4 {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
  }
  #online-software #online-software-content #online-software-cards-box-text p {
    font-size: 1.1rem;
    margin: 0;
  }
  #online-software #online-software-content #online-software-cards-box button {
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    border: 1px solid transparent;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  #online-software {
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #online-software #online-software-content {
    height: 52vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #online-software #online-software-content h2 {
    max-width: 53rem;
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  #online-software #online-software-content #online-software-paragraf {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  #online-software #online-software-content #online-software-cards {
    height: 12rem;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #online-software #online-software-content #online-software-cards div {
    text-align: center;
  }
  #online-software #online-software-content #online-software-cards h4 {
    font-size: 2.2rem;
    color: #F23779;
    font-weight: bold;
    line-height: 0.8;
  }
  #online-software #online-software-content #online-software-cards p {
    color: #57647C;
  }
  #online-software #online-software-content #online-software-cards-box {
    height: 13rem;
  }
  #online-software #online-software-content #online-software-cards-box-text {
    max-width: 26rem;
  }
}

#reviews {
  height: 90vh;
}

#reviews #reviews-content {
  height: 60vh;
  width: 90%;
  position: relative;
}

#reviews #reviews-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#reviews #reviews-text img {
  height: 24rem;
  display: none;
}

#reviews #reviews-text h3 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
}

#reviews #reviews-text p {
  font-size: 1.2rem;
  color: #57647C;
}

#reviews #reviews-content-orange-card {
  width: 26rem;
  height: 12rem;
  position: relative;
  left: 500px;
  z-index: 2;
  display: none;
}

#reviews #reviews-content-orange-card #reviews-img-card {
  position: absolute;
  right: 0;
  margin-right: -3rem;
  margin-top: -8.3vh;
}

#reviews #reviews-content-orange-card h4 {
  position: absolute;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  top: -2rem;
}

#reviews #reviews-content-orange-card h5 {
  position: absolute;
  color: #ffffff;
  font-weight: 400;
}

#reviews #reviews-content-orange-card p {
  position: absolute;
  color: #ffffff;
  bottom: 4rem;
}

#reviews #reviews-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

@media (min-width: 768px) {
  #reviews {
    height: 60vh;
  }
  #reviews #reviews-content {
    height: 60vh;
    width: 90%;
    position: relative;
  }
  #reviews #reviews-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #reviews #reviews-text img {
    height: 24rem;
    display: none;
  }
  #reviews #reviews-text div {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #reviews {
    height: 90vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #reviews #reviews-content {
    height: 35.5rem;
    width: 70%;
    position: relative;
  }
  #reviews #reviews-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
  }
  #reviews #reviews-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24rem;
  }
  #reviews #reviews-text div {
    width: 55%;
  }
  #reviews #reviews-content-orange-card {
    width: 26rem;
    height: 12rem;
    position: relative;
    left: 500px;
    z-index: 2;
    display: block;
  }
  #reviews #reviews-content-orange-card #reviews-img-card {
    position: absolute;
    right: 0;
    margin-right: -3rem;
    margin-top: -8.3vh;
  }
  #reviews #reviews-content-orange-card h4 {
    position: absolute;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    top: -2rem;
  }
  #reviews #reviews-content-orange-card h5 {
    position: absolute;
    color: #ffffff;
    font-weight: 400;
  }
  #reviews #reviews-content-orange-card p {
    position: absolute;
    color: #ffffff;
    bottom: 4rem;
  }
  #reviews #reviews-arrows {
    display: block;
  }
}

#industry {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#industry h1 {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}

#industry #industry-header-text {
  color: #57647C;
  text-align: center;
}

#industry .industry-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#industry .industry-date {
  color: #FF6803;
  font-weight: 600;
}

#industry .industry-bullet {
  margin-top: 3rem;
}

.swiper-container {
  width: 95%;
  height: 70vh;
  padding-left: 5px;
  padding-right: 5px;
}

.swiper-slide {
  height: 65vh;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: orange;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

#cards {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-body {
  text-align: left;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  #industry {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  #industry h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
  }
  #industry #industry-header-text {
    color: #57647C;
    text-align: center;
  }
  #industry .industry-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  #industry .industry-date {
    color: #FF6803;
    font-weight: 600;
  }
  #industry .industry-bullet {
    margin-top: 3rem;
  }
  .swiper-container {
    width: 95%;
    height: 70vh;
    padding-left: 5px;
    padding-right: 5px;
  }
  .swiper-slide {
    height: 55vh;
  }
}

@media (min-width: 1200px) {
  #industry {
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  #industry h1 {
    font-size: 4rem;
  }
  #industry #industry-header-text {
    font-weight: 600;
  }
  #industry .industry-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  #industry .industry-date {
    color: #FF6803;
    font-weight: 600;
  }
  #industry .industry-bullet {
    margin-top: 3rem;
  }
  #industry .card-body h4 {
    font-size: 1.2rem;
  }
  .swiper-container {
    width: 95%;
    height: 70vh;
    padding-left: 5px;
    padding-right: 5px;
  }
  .swiper-slide {
    height: 55vh;
  }
}

#call-to-action {
  height: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#call-to-action #banner {
  height: 14rem;
  width: 100%;
  background-image: url(../images/bg/Bg-call-to-action.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#call-to-action #banner h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #call-to-action {
    height: 20rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #call-to-action #banner {
    background-image: url(../images/bg/Bg-call-to-action.png);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #call-to-action #banner h2 {
    font-size: 1.3rem;
  }
  #call-to-action #banner button {
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
  }
}

@media (min-width: 1200px) {
  #call-to-action {
    height: 20rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #call-to-action #banner {
    background-image: url(../images/bg/Bg-call-to-action.png);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  #call-to-action #banner h2 {
    font-size: 2rem;
  }
  #call-to-action #banner button {
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
  }
}

footer {
  background-color: #1D252D;
  color: #ffffff;
}

#footer1 {
  height: 120vh;
  background-color: #1D252D;
}

#footer1 #footer-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  /* social media */
}

#footer1 #footer-block .footer-block {
  width: 100%;
}

#footer1 #footer-block .block1 {
  text-align: center;
}

#footer1 #footer-block .block1 h3 {
  font-size: 2rem;
  font-weight: 600;
}

#footer1 #footer-block .block1 .footer-knapp-Subscribe {
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer1 #footer-block .block1 .footer-knapp-Subscribe input {
  border: none;
  padding: 1rem;
  border-radius: 0.4rem 0 0 0.4rem;
  outline: none;
}

#footer1 #footer-block .block1 .footer-knapp-Subscribe button {
  border: none;
  padding: 0 1rem;
  border-radius: 0 0.4rem 0.4rem 0;
  font-weight: 600;
  outline: none;
}

#footer1 #footer-block .block2 {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

#footer1 #footer-block .block2 h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#footer1 #footer-block #footer-links-parent {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer1 #footer-block #footer-links-parent .footer-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#footer1 #footer-block #footer-links-parent .footer-links a {
  padding-top: 1rem;
  font-weight: 600;
}

#footer1 #footer-block .block3 {
  text-align: center;
  /* phone, adress */
}

#footer1 #footer-block .block3 h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#footer1 #footer-block .block3 #social-media {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer1 #footer-block .block3 #social-media div {
  margin: 0 0.3rem;
  border-radius: 0.4rem;
}

#footer1 #footer-block .block3 #social-media #facebook {
  padding: 20px 20px;
  background-color: #3054A4;
}

#footer1 #footer-block .block3 #social-media #twitter {
  padding: 20px 20px;
  background-color: #55ACEE;
}

#footer1 #footer-block .block3 #social-media #instagram {
  padding: 20px 20px;
  background-color: #C42862;
}

#footer1 #footer-block .block3 #social-media #youtube {
  padding: 20px 20px;
  background-color: #CD201F;
}

#footer1 #footer-block .block3 #social-media #pintrest {
  padding: 20px 20px;
  background-color: #BD081C;
}

#footer1 #footer-block .block3 .phone {
  margin-top: 2rem;
}

#footer1 #footer-block .block3 .adress {
  margin-top: 1rem;
}

#footer1 #footer-block .block3 .phone h5, #footer1 #footer-block .block3 .adress h5 {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

#footer1 #footer-block .block3 .phone p, #footer1 #footer-block .block3 .adress p {
  padding: 0;
  margin: 0;
}

/* footer 2 */
#footer2 {
  height: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #ffffff !important;
  text-align: center;
}

#footer2 p {
  font-size: 0.8rem;
}

.footer2-loggo {
  font-size: 2.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  #footer1 {
    height: 100vh;
  }
  #footer1 #footer-block .footer-block {
    width: 100%;
  }
  #footer1 #footer-block .block1 {
    text-align: center;
  }
  #footer1 #footer-block .block2 {
    width: 45%;
  }
  #footer1 #footer-block .block3 {
    text-align: center;
    /* phone, adress */
  }
  #footer1 #footer-block .block3 h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  #footer1 #footer-block .block3 #social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer1 #footer-block .block3 #social-media div {
    margin: 0 0.3rem;
    border-radius: 0.4rem;
  }
  #footer1 #footer-block .block3 .phone {
    margin-top: 2rem;
  }
  #footer1 #footer-block .block3 .adress {
    margin-top: 1rem;
  }
  #footer1 #footer-block .block3 .phone h5, #footer1 #footer-block .block3 .adress h5 {
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  #footer1 #footer-block .block3 .phone p, #footer1 #footer-block .block3 .adress p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }
  /* footer 2 */
  #footer2 {
    height: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #ffffff !important;
    text-align: center;
  }
  #footer2 p {
    font-size: 0.8rem;
  }
  .footer2-loggo {
    font-size: 2.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-weight: 600;
  }
}

@media (min-width: 1200px) {
  #footer1 {
    height: 60vh;
  }
  #footer1 #footer-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer1 #footer-block .footer-block {
    width: 100%;
  }
  #footer1 #footer-block .block1 {
    text-align: left;
    width: 55%;
  }
  #footer1 #footer-block .block1 .footer-knapp-Subscribe {
    margin-top: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #footer1 #footer-block .block2 {
    width: 40%;
  }
  #footer1 #footer-block .block3 {
    text-align: left;
    width: 55%;
  }
  #footer1 #footer-block .block3 #social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  /* footer 2 */
  #footer2 {
    height: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #ffffff !important;
    text-align: center;
  }
  #footer2 p {
    font-size: 0.8rem;
  }
  .footer2-loggo {
    font-size: 2.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-weight: 600;
  }
}

button:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
  text-decoration: underline !important;
}

#reviews-arrows img:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#facebook:hover {
  background-color: #203970 !important;
  cursor: pointer;
}

#twitter:hover {
  background-color: #4282b3 !important;
  cursor: pointer;
}

#instagram:hover {
  background-color: #99204c !important;
  cursor: pointer;
}

#youtube:hover {
  background-color: #9c1717 !important;
  cursor: pointer;
}

#pintrest:hover {
  background-color: #770512 !important;
  cursor: pointer;
}
